openapi: 3.0.0
servers:
  - url: https://apoteksahabatsmd.com
    description: Production Server
  - url: http://127.0.0.1:8000
    description: Local Development Server
info:
  title: API Sinkronisasi Apotek Sahabat Samarinda (Web - Mobile)
  description: API untuk sinkronisasi master data obat, harga (HNA, HNA+PPN, HET), dan stok per cabang antara Web POS dan Aplikasi Mobile.
  version: "1.0.0"

tags:
  - name: "Mobile Sync"
    description: "Endpoint sinkronisasi data master, harga, dan stok untuk aplikasi mobile"
  - name: developers
    description: Operations available to regular developers
  - name: admins
    description: Secured Admin-only calls

paths:
  /api/mobile/medicines/lookup:
    get:
      tags:
        - "Mobile Sync"
      summary: Lookup Data & Harga Obat berdasarkan SKU / Barcode
      operationId: lookupMedicine
      description: |
        Dipanggil saat staf aplikasi mobile selesai mengetik SKU/Product Code atau scan barcode.
        Sistem mengembalikan data lengkap: HNA (raw_price), HNA + PPN (net_price), HET (het_price),
        satuan, kemasan, serta posisi stok cabang terpilih untuk auto-fill form master data.
      parameters:
        - in: query
          name: code
          required: true
          description: SKU / Kode Obat atau Barcode yang dicari
          schema:
            type: string
            example: "002700089"
        - in: query
          name: pharmacy_id
          required: false
          description: ID Cabang Apotek (opsional, untuk mendapatkan stok spesifik cabang)
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: Data obat berhasil ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Data obat berhasil ditemukan"
                  data:
                    $ref: '#/components/schemas/MedicineDetail'
        '404':
          description: Obat tidak ditemukan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Parameter tidak valid (misal code kosong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/mobile/pharmacies:
    get:
      tags:
        - "Mobile Sync"
      summary: Daftar Cabang Apotek Aktif
      operationId: getPharmacies
      description: Mengambil daftar seluruh cabang apotek aktif untuk mengisi dropdown pilihan cabang di aplikasi mobile.
      responses:
        '200':
          description: Daftar cabang berhasil dimuat
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Daftar cabang berhasil dimuat"
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PharmacyItem'

  /api/mobile/medicines:
    get:
      tags:
        - "Mobile Sync"
      summary: Sinkronisasi Masal / Katalog Obat (Terpaginasi)
      operationId: getMedicines
      description: |
        Mengambil daftar master obat terpaginasi. Mendukung pencarian, filter cabang,
        dan incremental sync menggunakan parameter updated_since (hanya mengambil data yang berubah).
      parameters:
        - in: query
          name: search
          required: false
          description: Keyword pencarian nama obat, SKU, atau barcode
          schema:
            type: string
            example: "Paracetamol"
        - in: query
          name: pharmacy_id
          required: false
          description: ID Cabang untuk perhitungan stok spesifik
          schema:
            type: integer
            example: 5
        - in: query
          name: updated_since
          required: false
          description: "Filter waktu pembaruan terakhir untuk incremental sync (format: YYYY-MM-DD HH:mm:ss)"
          schema:
            type: string
            format: date-time
            example: "2026-09-01 00:00:00"
        - in: query
          name: limit
          required: false
          description: Jumlah item per halaman (default 50, max 200)
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - in: query
          name: page
          required: false
          description: Nomor halaman
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Katalog obat berhasil dimuat
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MedicineDetail'
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'

  /inventory:
    get:
      tags:
        - developers
      summary: searches inventory
      operationId: searchInventory
      description: |
        By passing in the appropriate options, you can search for
        available inventory in the system
      parameters:
        - in: query
          name: searchString
          description: pass an optional search string for looking up inventory
          required: false
          schema:
            type: string
        - in: query
          name: skip
          description: number of records to skip for pagination
          schema:
            type: integer
            format: int32
            minimum: 0
        - in: query
          name: limit
          description: maximum number of records to return
          schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 50
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryItem'
        '400':
          description: bad input parameter
    post:
      tags:
        - admins
      summary: adds an inventory item
      operationId: addInventory
      description: Adds an item to the system
      responses:
        '201':
          description: item created
        '400':
          description: 'invalid input, object invalid'
        '409':
          description: an existing item already exists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryItem'
        description: Inventory item to add

components:
  schemas:
    MedicineDetail:
      type: object
      properties:
        id:
          type: integer
          example: 1
        code:
          type: string
          description: SKU / Kode Obat unik
          example: "002700089"
        barcode:
          type: string
          nullable: true
          description: Kode barcode produk untuk scanner kamera
          example: "8991234567890"
        name:
          type: string
          description: Nama obat dagang
          example: "AB VASK TAB 10MG"
        generic_name:
          type: string
          nullable: true
          description: Nama generik / kandungan zat aktif
          example: "Amlodipine Besylate"
        unit:
          type: string
          description: Satuan terkecil (TAB, BTL, STRIP, PCS, BOX, AMPUL)
          example: "TAB"
        packaging:
          type: string
          nullable: true
          description: Kemasan luar
          example: "BOX"
        content:
          type: string
          nullable: true
          description: Isi per box / kemasan
          example: "30"
        strip:
          type: string
          nullable: true
          description: Jumlah strip per kemasan
          example: "10"
        dosage:
          type: string
          nullable: true
          description: Dosis obat
          example: "10mg"
        category:
          type: string
          nullable: true
          description: Kategori obat
          example: "OBAT KERAS (G)"
        factory:
          type: string
          nullable: true
          description: Pabrik / Produsen / Prinsipal
          example: "LAPI"
        type:
          type: string
          nullable: true
          description: Tipe obat (REGULER, GENERIK, NARKOTIKA, dll.)
          example: "REGULER"
        raw_price:
          type: number
          description: HNA dasar (Harga Netto Apotek sebelum PPN)
          example: 12500
        net_price:
          type: number
          description: HNA + PPN 11% (Harga Netto Apotek setelah PPN)
          example: 13875
        het_price:
          type: number
          description: HET / Harga Jual Konsumen
          example: 15500
        pharmacy_net_price:
          type: number
          description: Harga netto apotek khusus
          example: 12500
        stock:
          type: integer
          description: Stok saat ini pada cabang yang dipilih (atau total stok)
          example: 31
        pricing:
          $ref: '#/components/schemas/PricingDetail'
        stock_info:
          $ref: '#/components/schemas/StockInfoDetail'
        compliance:
          $ref: '#/components/schemas/ComplianceDetail'
        updated_at:
          type: string
          format: date-time
          example: "2026-09-12 12:29:12"

    PricingDetail:
      type: object
      properties:
        raw_price:
          type: number
          example: 12500
        net_price:
          type: number
          example: 13875
        het_price:
          type: number
          example: 15500
        pharmacy_net_price:
          type: number
          example: 12500
        tax_percentage:
          type: number
          description: Persentase PPN (%)
          example: 11
        margin_percentage:
          type: number
          description: Estimasi margin keuntungan HET vs HNA+PPN (%)
          example: 11.71
        formatted:
          type: object
          properties:
            raw_price:
              type: string
              example: "Rp 12.500"
            net_price:
              type: string
              example: "Rp 13.875"
            het_price:
              type: string
              example: "Rp 15.500"

    StockInfoDetail:
      type: object
      properties:
        pharmacy_id:
          type: integer
          nullable: true
          example: 5
        pharmacy_name:
          type: string
          nullable: true
          example: "SAHABAT ANTASARI"
        stock:
          type: integer
          description: Total stok di cabang terpilih
          example: 31
        counter_stock:
          type: integer
          description: Stok fisik di etalase / pelayanan
          example: 31
        storage_stock:
          type: integer
          description: Stok fisik di gudang
          example: 0
        minimal_stock:
          type: integer
          description: Batas minimum stok
          example: 10
        is_low_stock:
          type: boolean
          description: True jika stok kurang dari atau sama dengan minimal_stock
          example: false
        is_out_of_stock:
          type: boolean
          description: True jika stok 0 atau minus
          example: false
        nearest_expired_date:
          type: string
          format: date
          nullable: true
          description: Tanggal kadaluarsa terdekat pada cabang tersebut (FEFO)
          example: "2030-06-30"
        total_stock:
          type: integer
          description: Total stok lintas seluruh cabang (muncul jika tanpa filter pharmacy_id)
          example: 196
        stock_by_pharmacy:
          type: array
          description: Rincian stok per cabang (muncul jika tanpa filter pharmacy_id)
          items:
            type: object
            properties:
              pharmacy_id:
                type: integer
                example: 5
              pharmacy_name:
                type: string
                example: "SAHABAT ANTASARI"
              stock:
                type: integer
                example: 31

    ComplianceDetail:
      type: object
      properties:
        is_psychotropic:
          type: boolean
          example: false
        is_precursor:
          type: boolean
          example: false
        requires_prescription:
          type: boolean
          description: True jika obat memerlukan resep dokter
          example: false
        is_active:
          type: boolean
          example: true

    PharmacyItem:
      type: object
      properties:
        id:
          type: integer
          example: 5
        name:
          type: string
          example: "SAHABAT ANTASARI"
        city:
          type: string
          nullable: true
          example: "Samarinda"
        address:
          type: string
          nullable: true
          example: "Jl. P. Antasari No. 88"
        phone:
          type: string
          nullable: true
          example: "0812 3456 7890"
        status:
          type: integer
          example: 1

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 158
        per_page:
          type: integer
          example: 50
        total:
          type: integer
          example: 7890
        has_more:
          type: boolean
          example: true
        next_page_url:
          type: string
          nullable: true
          example: "https://apoteksahabatsmd.com/api/mobile/medicines?page=2"

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "Obat dengan SKU/Barcode '002700089' tidak ditemukan pada sistem Web."

    InventoryItem:
      type: object
      required:
        - id
        - name
        - manufacturer
        - releaseDate
      properties:
        id:
          type: string
          format: uuid
          example: d290f1ee-6c54-4b01-90e6-d701748f0851
        name:
          type: string
          example: Widget Adapter
        releaseDate:
          type: string
          format: date-time
          example: '2016-08-29T09:12:33.001Z'
        manufacturer:
          $ref: '#/components/schemas/Manufacturer'

    Manufacturer:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: ACME Corporation
        homePage:
          type: string
          format: url
          example: 'https://www.acme-corp.com'
        phone:
          type: string
          example: 408-867-5309
