openapi: 3.0.0
servers:
  - url: https://apoteksahabatsmd.com
    description: Production Server
  - url: http://127.0.0.1:8000
    description: Local Development Server
info:
  title: API Sinkronisasi Apotek Sahabat Samarinda (Web - Mobile)
  description: API untuk sinkronisasi master data obat, harga (HNA, HNA+PPN, HET), dan stok per cabang antara Web POS dan Aplikasi Mobile.
  version: "1.0.0"

tags:
  - name: "Mobile Sync"
    description: "Endpoint sinkronisasi data master, harga, dan stok untuk aplikasi mobile"

paths:
  /api/mobile/medicines/lookup:
    get:
      tags:
        - "Mobile Sync"
      summary: Lookup Data & Harga Obat berdasarkan SKU / Barcode
      operationId: lookupMedicine
      description: |
        Mengembalikan data lengkap: HNA (raw_price), HNA + PPN (net_price), HET (het_price), satuan, kemasan, serta data stok cabang terpilih untuk auto-fill form master data pada dashboard aplikasi mobile. Untuk stok wajib ambil per cabang.
      parameters:
        - in: query
          name: code
          required: true
          description: SKU / Kode Obat atau Barcode yang dicari
          schema:
            type: string
            example: "002700089"
        - in: query
          name: pharmacy_id
          required: true
          description: ID Cabang Apotek (Wajib untuk mengambil data stok cabang)
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: Data obat berhasil ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Data obat berhasil ditemukan"
                  data:
                    $ref: '#/components/schemas/MedicineDetail'
        '404':
          description: Obat tidak ditemukan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Parameter tidak valid (misal code kosong)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/mobile/pharmacies:
    get:
      tags:
        - "Mobile Sync"
      summary: Daftar Cabang Apotek Aktif
      operationId: getPharmacies
      description: Mengambil daftar seluruh cabang apotek aktif untuk mengisi dropdown pilihan cabang di aplikasi mobile.
      responses:
        '200':
          description: Daftar cabang berhasil dimuat
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Daftar cabang berhasil dimuat"
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PharmacyItem'

components:
  schemas:
    MedicineDetail:
      type: object
      properties:
        id:
          type: integer
          example: 1
        code:
          type: string
          description: SKU / Kode Obat unik
          example: "002700089"
        barcode:
          type: string
          nullable: true
          description: Kode barcode produk untuk scanner kamera
          example: "8991234567890"
        name:
          type: string
          description: Nama obat dagang
          example: "AB VASK TAB 10MG"
        generic_name:
          type: string
          nullable: true
          description: Nama generik / kandungan zat aktif
          example: "Amlodipine Besylate"
        unit:
          type: string
          description: Satuan terkecil (TAB, BTL, STRIP, PCS, BOX, AMPUL)
          example: "TAB"
        packaging:
          type: string
          nullable: true
          description: Kemasan luar
          example: "BOX"
        content:
          type: string
          nullable: true
          description: Isi per box / kemasan
          example: "30"
        strip:
          type: string
          nullable: true
          description: Jumlah strip per kemasan
          example: "10"
        dosage:
          type: string
          nullable: true
          description: Dosis obat
          example: "10mg"
        category:
          type: string
          nullable: true
          description: Kategori obat
          example: "OBAT KERAS (G)"
        factory:
          type: string
          nullable: true
          description: Pabrik / Produsen / Prinsipal
          example: "LAPI"
        type:
          type: string
          nullable: true
          description: Tipe obat (REGULER, GENERIK, NARKOTIKA, dll.)
          example: "REGULER"
        raw_price:
          type: number
          description: HNA dasar (Harga Netto Apotek sebelum PPN)
          example: 12500
        net_price:
          type: number
          description: HNA + PPN 11% (Harga Netto Apotek setelah PPN)
          example: 13875
        het_price:
          type: number
          description: HET / Harga Jual Konsumen
          example: 15500
        pharmacy_net_price:
          type: number
          description: Harga netto apotek khusus
          example: 12500
        stock:
          type: integer
          description: Stok saat ini pada cabang yang dipilih
          example: 31
        stock_info:
          $ref: '#/components/schemas/StockInfoDetail'
        compliance:
          $ref: '#/components/schemas/ComplianceDetail'
        updated_at:
          type: string
          format: date-time
          example: "2026-09-12 12:29:12"

    StockInfoDetail:
      type: object
      properties:
        pharmacy_id:
          type: integer
          example: 5
        pharmacy_name:
          type: string
          example: "SAHABAT ANTASARI"
        stock:
          type: integer
          description: Total stok di cabang terpilih
          example: 31
        counter_stock:
          type: integer
          description: Stok fisik di etalase / pelayanan
          example: 31
        storage_stock:
          type: integer
          description: Stok fisik di gudang
          example: 0
        minimal_stock:
          type: integer
          description: Batas minimum stok
          example: 10
        is_low_stock:
          type: boolean
          description: True jika stok kurang dari atau sama dengan minimal_stock
          example: false
        is_out_of_stock:
          type: boolean
          description: True jika stok 0 atau minus
          example: false
        nearest_expired_date:
          type: string
          format: date
          nullable: true
          description: Tanggal kadaluarsa terdekat pada cabang tersebut (FEFO)
          example: "2030-06-30"

    ComplianceDetail:
      type: object
      properties:
        is_psychotropic:
          type: boolean
          example: false
        is_precursor:
          type: boolean
          example: false
        requires_prescription:
          type: boolean
          description: True jika obat memerlukan resep dokter
          example: false
        is_active:
          type: boolean
          example: true

    PharmacyItem:
      type: object
      properties:
        id:
          type: integer
          example: 5
        name:
          type: string
          example: "SAHABAT ANTASARI"
        city:
          type: string
          nullable: true
          example: "Samarinda"
        address:
          type: string
          nullable: true
          example: "Jl. P. Antasari No. 88"
        phone:
          type: string
          nullable: true
          example: "0812 3456 7890"
        status:
          type: integer
          example: 1

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "Obat dengan SKU/Barcode '002700089' tidak ditemukan pada sistem Web."
